{% extends 'store/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<br>
  <form method="get">
    <div class="well">
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ myFilter.form.title.label_tag }}
          {% render_field myFilter.form.title class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ myFilter.form.gender.label_tag }}
          {% render_field myFilter.form.gender class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ myFilter.form.season.label_tag }}
          {% render_field myFilter.form.season class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ myFilter.form.brand.label_tag }}
          {% render_field myFilter.form.brand class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ myFilter.form.size.label_tag }}
          {% render_field myFilter.form.size class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ myFilter.form.color.label_tag }}
          {% render_field myFilter.form.color class="form-control" %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>
<br>

<div class="row">
{% for product in products %}

     <div class="col-lg-4">
        <img class="thumbnail" src="{{ product.imageURL }}">
        <div class="box-element product">
            <h6><strong>{{product.title}}</strong></h6>
            <hr>

            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-success add-btn update-cart">Add to Cart</button>
            <a class="btn btn-outline-info" href="{% url 'detailview' product.id %}">More</a>
            <h4 style="float: right;"><strong>{{product.price}} LYD</strong></h4>

        </div>
    </div>

{% endfor %}
</div>

{% endblock %}
